@font-face {
  font-family: 'Proxima Nova Bold';
  src: url('../fonts/proxima_nova_bold.eot'); /* IE 9 Compatibility Mode */
  src: url('../fonts/proxima_nova_bold.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
  url('../fonts/proxima_nova_bold.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/proxima_nova_bold.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
  url('../fonts/proxima_nova_bold.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/proxima_nova_bold.svg#proxima_nova_bold') format('svg'); /* Chrome < 4, Legacy iOS */
}
@font-face {
  font-family: 'Proxima Nova Regular';
  src: url('../fonts/proxima_nova_regular.eot'); /* IE 9 Compatibility Mode */
  src: url('../fonts/proxima_nova_regular.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
  url('../fonts/proxima_nova_regular.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/proxima_nova_regular.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
  url('../fonts/proxima_nova_regular.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/proxima_nova_regular.svg#proxima_nova_regular') format('svg'); /* Chrome < 4, Legacy iOS */
}
@font-face {
  font-family: 'Proxima Nova Semibold';
  src: url('../fonts/proxima_nova_semibold.eot'); /* IE 9 Compatibility Mode */
  src: url('../fonts/proxima_nova_semibold.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
  url('../fonts/proxima_nova_semibold.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/proxima_nova_semibold.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
  url('../fonts/proxima_nova_semibold.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/proxima_nova_semibold.svg#proxima_nova_semibold') format('svg'); /* Chrome < 4, Legacy iOS */
}
*{
  padding: 0;
  margin: 0;
  border: 0;
}
*,*:before,*:after{
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,:active{outline: none}
a:focus,a:active{outline: none}

nav,footer,header,aside{display: block}

html,body{
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  color: #000;
}
input,button,textarea{font-family: inherit}

input::-ms-clear{display: none;}
button{cursor: pointer}
button::-moz-focus-inner{padding:0;border:0}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top}
h1,h2,h3,h4,h5,h6{font-size: inherit;font-weight: 400;}


body{
  background-color: #efefef;
}
.container{
  width: 340px;
  margin: 60px auto;
}
