@font-face {
  font-family: "Proxima Nova Bold";
  src: url("../fonts/proxima_nova_bold.eot");
  /* IE 9 Compatibility Mode */
  src: url("../fonts/proxima_nova_bold.eot?#iefix") format("embedded-opentype"), url("../fonts/proxima_nova_bold.woff2") format("woff2"), url("../fonts/proxima_nova_bold.woff") format("woff"), url("../fonts/proxima_nova_bold.ttf") format("truetype"), url("../fonts/proxima_nova_bold.svg#proxima_nova_bold") format("svg");
  /* Chrome < 4, Legacy iOS */
}
@font-face {
  font-family: "Proxima Nova Regular";
  src: url("../fonts/proxima_nova_regular.eot");
  /* IE 9 Compatibility Mode */
  src: url("../fonts/proxima_nova_regular.eot?#iefix") format("embedded-opentype"), url("../fonts/proxima_nova_regular.woff2") format("woff2"), url("../fonts/proxima_nova_regular.woff") format("woff"), url("../fonts/proxima_nova_regular.ttf") format("truetype"), url("../fonts/proxima_nova_regular.svg#proxima_nova_regular") format("svg");
  /* Chrome < 4, Legacy iOS */
}
@font-face {
  font-family: "Proxima Nova Semibold";
  src: url("../fonts/proxima_nova_semibold.eot");
  /* IE 9 Compatibility Mode */
  src: url("../fonts/proxima_nova_semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/proxima_nova_semibold.woff2") format("woff2"), url("../fonts/proxima_nova_semibold.woff") format("woff"), url("../fonts/proxima_nova_semibold.ttf") format("truetype"), url("../fonts/proxima_nova_semibold.svg#proxima_nova_semibold") format("svg");
  /* Chrome < 4, Legacy iOS */
}
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  color: #000;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  background-color: #efefef;
  font: 14px/18px "Proxima Nova Regular", sans-serif;
}

.container {
  width: 340px;
  margin: 60px auto 30px;
  border: 1px solid #e3e3e3;
  border-radius: 3px;
}
.container .bg-tabs {
  background-color: #f7f7f7;
  padding: 12px 14px 0;
  border-radius: 3px 3px 0 0;
  border-bottom: 1px solid #e3e3e3;
}
.container .bg-tabs .tabs ul {
  display: flex;
  justify-content: center;
}
.container .bg-tabs .tabs ul .tabs-items {
  flex: 1;
  max-width: 105px;
  border: 1px solid #e3e3e3;
  border-radius: 3px 3px 0 0;
  border-bottom: none;
  background-color: #ffffff;
}
.container .bg-tabs .tabs ul .tabs-items:first-child {
  border-right: none;
}
.container .bg-tabs .tabs ul .tabs-items:last-child {
  border-left: none;
}
.container .bg-tabs .tabs ul .tabs-items.active {
  border-top: 4px solid #44c7f3;
  margin: -3px 0 0;
  font-weight: bold;
  box-shadow: 0 2px 0 #fff;
}
.container .bg-tabs .tabs ul .tabs-items a {
  display: block;
  padding: 14px 20px;
  text-align: center;
  color: #000;
}
.container .tabs-body {
  display: none;
}
.container .tabs-body.active {
  display: block;
}
.container .tabs-body .tabs-body-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 18px 18px 18px 13px;
  border-bottom: 1px solid #e3e3e3;
}
.container .tabs-body .tabs-body-items:last-child {
  border-bottom: none;
}
.container .tabs-body .tabs-body-items .tabs-body-avatar {
  display: flex;
}
.container .tabs-body .tabs-body-items .tabs-body-avatar img {
  flex: 0 0 37px;
  margin-right: 18px;
  width: 37px;
  height: 37px;
  object-fit: cover;
}
.container .tabs-body .tabs-body-items .tabs-body-avatar .avatar-info {
  flex: 1;
}
.container .tabs-body .tabs-body-items .tabs-body-avatar .avatar-info h2 {
  color: #6c6c6c;
}
.container .tabs-body .tabs-body-items .tabs-body-avatar .avatar-info span {
  color: #bdbdbd;
  font-size: 13px;
  line-height: 16px;
}

@media (max-width: 767px) {
  .container {
    width: 320px;
  }
}

/*# sourceMappingURL=style.css.map */
